/* main */

/* sec01 */
.slide_wrap{
    height: 100vh;
}
#sec_01{
    width: 100%;
    height: 100vh;
}
#wrap{
    width: 100%;
    height: 100vh;
    position:absolute;
    overflow: hidden;
    margin-top: 100px;
}
#slides{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.slide{
    position: absolute;
    top: 0;
}
.slide:nth-child(1){
    left: 0;
}
.slide:nth-child(2){
    left: 100%;
}
.slide:nth-child(3){
    left: 200%;
}
.slide:nth-child(4){
    left: 300%;
}
/* sec02 */
#sec02 {
    width: 80%;
    margin: 0 auto;
}
#sec02 > h2 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    padding-bottom: 35px;
}
.lines{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.prod {
    max-width: 23%;
}
.prod_top > img {
    width: 100%;
    height: auto;
}
#prod_bot{
    padding-top: 10px;
}
#prod_bot p:nth-child(1){
    font-weight: bold;
    color: #5d5d5d;
    padding-bottom: 5px;
}
#prod_bot p:nth-child(2){
    font-weight:bold;
    padding-bottom: 10px;
}
#prod_bot p:nth-child(3){
    font-size: 11px;
    color: #6d6d6d;
}

/* sec03 */
#sec03{
    width: 100%;
    height: 668px;
    background-color: #f8f8f8;
    margin: 0 0 200px 0;
}
#sec03_wrap {
    width: 80%;
    margin: 0 auto;
}
#sec03_left{
    float: left;
    padding-right: 30px;
}
#sec03_rig{
    display: flex;
    flex-direction: column;
}
#sec03_rig > img:first-child{
    padding-bottom:17px;
}

/* sec05 */
#sec05{
    width: 100%;
    height: auto;
    background-color: #f8f4ef;
    margin: 100px 0 200px 0;
}
#sec05_wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#sec05_rig{
    text-align: center;
    margin-right: 10%;
    text-align: left;
}
#sec05_rig > h1 {
    font-size: 60px;
    padding-bottom: 50px;
    font-family: 'Noto Serif KR', serif;
}
#sec05_rig > p{
    font-family: 'Noto Serif KR', serif;
    color: 999795;;
}
#sec05_rig > button{
    padding: 20px 160px;
    margin: 200px 0 100px 0;
    background-color: transparent;
    border: 1px solid #999795;
    color: #999795;
    font-size: 18px;
    cursor: pointer;
}